<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about-content">
        <h2>About Us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit error blanditiis iure quis labore reprehenderit eos commodi repellendus praesentium illum, ullam provident animi cupiditate nesciunt veritatis vel illo assumenda tempore!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit error blanditiis iure quis labore reprehenderit eos commodi repellendus praesentium illum, ullam provident animi cupiditate nesciunt veritatis vel illo assumenda tempore!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit error blanditiis iure quis labore reprehenderit eos commodi repellendus praesentium illum, ullam provident animi cupiditate nesciunt veritatis vel illo assumenda tempore!</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>